canonical/CommonDataModel.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cbp.dhs.gov/DIS">
	<xs:complexType name="DocumentData">
		<xs:annotation>
			<xs:documentation>Document data such as Document ID, Label, Name, Version etc describing the submitted document</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentHeader" type="DocumentHeader">
				<xs:annotation>
					<xs:documentation>Key information needed to identify and locate a document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GovtAgencyList" type="GovtAgencyList">
				<xs:annotation>
					<xs:documentation>Optional - List of Government Agencies that this document is being submitted to.
					    NOTE: Please see the DIS Implementation guide published on CBP.GOV for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Comment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Optional - Any Explanatory comment regarding the document or business transaction for this document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="OptionalData" type="OptionalData">
				<xs:annotation>
					<xs:documentation>Additional Optional Data included in support of the document submission</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VesselData" type="VesselDataType"></xs:element>
			<xs:element minOccurs="0" name="ContactInfo" type="ContactInfoType"></xs:element>
			<xs:element name="DocumentObject" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Actual document or image that is Base64Encoded to convert to a string</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentHeader">
		<xs:annotation>
			<xs:documentation>Elements that are used to identify/locate a unique document submission.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Generated by the sending system for traceability. Should be UniqueID within the sending system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Form-Label of the submitted Document. Ex CBP Form 301.
					    NOTE: Please see the DIS Implementation guide for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompleteFileName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Complete File Name (example filename.pdf).  EXCLUSIONS for constructing filename are the following; DO NOT USE Apostrophe, /, \ , %, ampersand within filename and spaces before or after file name, double spaces within name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileExtensionType" type="xs:string">
				<xs:annotation>
					<xs:documentation>File Extension Type PDF;DOCX etc 
					    NOTE: Please see the DIS Implementation guide for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Free Form description of document if needed </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentSentDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date and Time when the document was sent to CBP if known. EST Format 2010-05-25T00:34:47.0Z </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocPreviouslySubmitted" type="xs:string">
				<xs:annotation>
					<xs:documentation>Y or N. Use Y to indicate that the document was previously submitted to CBP, and that this transaction should refer to. 
					        NOTE: DocumentName will be used to refer to the on-file document.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GovtAgencyList">
		<xs:sequence>
			<xs:element maxOccurs="50" name="GovtAgency" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Government Agency (one or more) that this document is intended for. The Document will be made available to only the specified agency or per current govt policy if this policy changes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SubmittedToPortCode">
		<xs:annotation>
			<xs:documentation>Schedule D (Domestic) code for the U.S Port to which this document is being submitted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TradeTransaction">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Trade Transactions such as Entries, Bills etc that this document is associated with</xs:documentation>
			</xs:annotation>
			<xs:element name="TransactionCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>SINGLE_TXN or CONTINUOUS ('Continous' documents are kept on file and associated with the FILER and not with any particular transaction)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Entry">
				<xs:annotation>
					<xs:documentation>Optional - Entry Number or Entry Summary Number that the document in this message is to be associated with. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntryNumber" type="xs:string"></xs:element>
						<xs:element name="Filer" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="EntryLineNumber" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EntrySummary">
				<xs:annotation>
					<xs:documentation>Optional - Entry Number or Entry Summary Number that the document in this message is to be associated with. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntryNumber" type="xs:string"></xs:element>
						<xs:element name="Filer" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="EntryLineNumber" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Bill">
				<xs:annotation>
					<xs:documentation>Optional - Bill Info that the document in this message is to be associated with. SCAC is required. BillFileDate is optional.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SCAC" type="xs:string"></xs:element>
						<xs:element name="BillNumber" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="HouseBillNumber" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ISFNumber">
				<xs:annotation>
					<xs:documentation>Optional - ISF TransactionNumber that the document in this message is to be associated with.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Filer" type="xs:string"></xs:element>
						<xs:element name="ISFNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ITN">
				<xs:annotation>
					<xs:documentation>ITN of Export Data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ITN" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="XTN">
				<xs:annotation>
					<xs:documentation>XTN of Export Data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="XTN" type="xs:string"></xs:element>
						<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="FTZAdmissionNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Foreign Trade Zone Admissions Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ImporterOfRecordNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Importer of Record Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="OtherTransaction">
				<xs:annotation>
					<xs:documentation>Optional - A Transaction that is not covered by the above options. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionName" type="xs:string"></xs:element>
						<xs:element name="TransactionNumber" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OptionalData">
		<xs:sequence>
			<xs:element minOccurs="0" name="InvoiceData" type="InvoiceData">
				<xs:annotation>
					<xs:documentation>Invoice or Invoice Worksheet Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BondData" type="BondData">
				<xs:annotation>
					<xs:documentation>Bond Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PackingListData" type="PackingListData">
				<xs:annotation>
					<xs:documentation>Packing List Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CertificateData" type="CertificateData">
				<xs:annotation>
					<xs:documentation>Certificate Info. ex. NOAA Certifcate of Origin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PermitData" type="PermitData">
				<xs:annotation>
					<xs:documentation>Permit Info. ex.Import Permit USDA Regulations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ToxicSubstancesData" type="ToxicSubstancesData">
				<xs:annotation>
					<xs:documentation>Toxic Substance Info. Ex. EPA Data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CommodityList" type="CommodityList">
				<xs:annotation>
					<xs:documentation>Optional - Commodity Information if not specified elsewhere in submitted XML.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AdditionalData" type="AdditionalData">
				<xs:annotation>
					<xs:documentation>Optional - Additional data in the form of Name-Value Pairs in case sender wishes to transmit data not accomodated in this schema. ex. INVOICE_AMT = $640,000</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityList">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="CommodityData" type="CommodityData"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BondData">
		<xs:annotation>
			<xs:documentation>Bond Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="BondName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of Bond - Single TXN, ISF Bond etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BondNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Bond Number (ID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BondType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Type of Bond</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SuretyCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>SuretyCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AgentIDNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>AgentIDNbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Filer" type="xs:string">
				<xs:annotation>
					<xs:documentation>Filer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BondAmount" type="xs:string">
				<xs:annotation>
					<xs:documentation>Amount of the Bond in USD</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceData">
		<xs:annotation>
			<xs:documentation>Invoice Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvoiceNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Type. Ex. Commercial Invoice etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="InvoiceLineItemData" type="InvoiceLineItemData">
				<xs:annotation>
					<xs:documentation>Invoice Line Nbr level information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackingListData">
		<xs:annotation>
			<xs:documentation>Packing List Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="PackingListNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="InvoiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Number. Add any details in InvoiceData Element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PurchaseOrderNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Purchase Order Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityData">
		<xs:annotation>
			<xs:documentation>Commodity Information. Provide what is available</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="EntryLineNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry Line Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="HTSNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>HTS Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CommodityDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Commodity Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CountryOfOrigin" type="xs:string">
				<xs:annotation>
					<xs:documentation>Country Of Origin - UNLOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ContainerNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Container Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date the goods are expected. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PortOfLading" type="xs:string">
				<xs:annotation>
					<xs:documentation>Port of Lading - Schedule D</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PortOfUnlading" type="xs:string">
				<xs:annotation>
					<xs:documentation>Port of Unlading - Schedule K</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PortOfEntry" type="xs:string">
				<xs:annotation>
					<xs:documentation>Port of Entry - Schedule K</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PPQSignature" type="xs:string">
				<xs:annotation>
					<xs:documentation>PPQSignature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SealNumbers" type="xs:string">
				<xs:annotation>
					<xs:documentation>Multiple Seal Numbers supplied as a comma separated string ex. ABC123, DEF123, GHI123</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TradeParties" type="TradeParties">
				<xs:annotation>
					<xs:documentation>Commodity Manufacturer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FilerReferenceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>FilerReferenceNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VehicleAndEngineData" type="VehicleAndEngineData">
				<xs:annotation>
					<xs:documentation>VehicleAndEngineData</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToxicSubstancesData">
		<xs:annotation>
			<xs:documentation>Toxic Substances Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="CASNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>CAS Nbr. Use comma separated list for Many CAS Nbrs Ex. A, B, C</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EPARegistrationNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Container Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EPAProducerEstNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>EPAProducerEstNbr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLineItemList">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="InvoiceLineItemData" type="InvoiceLineItemData"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateData">
		<xs:annotation>
			<xs:documentation>Information typically on Certificates</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="CertificateNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Certificate Number (ID) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CertificateType" type="xs:string">
				<xs:annotation>
					<xs:documentation>ICertificate Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Statement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Statement on Certificate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date the certificate is valid till. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ImporterOfRecord" type="xs:string">
				<xs:annotation>
					<xs:documentation>Importer Of Record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="InspectionLocation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Inspection Location</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermitData">
		<xs:annotation>
			<xs:documentation>Information typically on Permits</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="PermitNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>permit Number (ID) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PermitType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Permit Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ApprovalNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Approval Number </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Statement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Statement on Permit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="StartDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Start Date the Permit is valid from EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EndDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>End Date the Permit is valid till. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ImporterOfRecord" type="xs:string">
				<xs:annotation>
					<xs:documentation>Importer Of Record</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBPRequest">
		<xs:sequence>
			<xs:element name="CBPRequestID" type="xs:string">
				<xs:annotation>
					<xs:documentation>CBP request in response to which this Document is being Sent. Ex. ACE Action Number. Specify 'UNSOLICITED'; 'UNKNOWN' if not known/applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CBPRequestType" type="xs:string">
				<xs:annotation>
					<xs:documentation>CBP request in response to which this Document is being Sent. Could be same as ACE Action Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CBPRequestDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date Time of CBP request in response to which this Document is being Sent</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLineItemData">
		<xs:annotation>
			<xs:documentation>Invoice Line Item Level Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvoiceLineNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>name-value pairs of information to accomodate additional information for flexibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityData" type="CommodityData">
				<xs:annotation>
					<xs:documentation>Commodity Information at each line item level </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleAndEngineData">
		<xs:annotation>
			<xs:documentation>VehicleAndEngineData</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="VIN" type="xs:string">
				<xs:annotation>
					<xs:documentation>Vehicle Identification Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VehicleManufacturer" type="xs:string">
				<xs:annotation>
					<xs:documentation>VehicleMake</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VehicleModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>VehicleModel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VehicleSerialNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>VehicleSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VehicleManufactureDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>VehicleSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EngineManufacturer" type="xs:string">
				<xs:annotation>
					<xs:documentation>EngineManufacturer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EngineModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>EngineModel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EngineSerialNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>EngineSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EngineManufactureDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>EngineManufactureDate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalData">
		<xs:annotation>
			<xs:documentation>Any additional information that a sender wishes to provide in the form of name-value pairs. This data is for information only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="NameValuePair" type="NameValuePair">
				<xs:annotation>
					<xs:documentation>name-value pairs of information to accomodate additional information for flexibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:annotation>
			<xs:documentation>Name-value pairs of information for data of interest not accomodated by explicit XML elements. The below elements will be interpreted as INVOICE_AMT = $640,000 and used for display only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the additional data element ex. INVOICE_AMT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Value of the additional data element identified in Name (above) ex. $640,000</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeParties">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="TradeParty" type="TradePartyInfo"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradePartyInfo">
		<xs:sequence>
			<xs:element name="TradePartyID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique ID of the Trade Party. ex. ImporterID, ShipperID, CarrierID etc. Send UNKNOWN if only Name and Address available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradePartyType" type="xs:string">
				<xs:annotation>
					<xs:documentation>See Enum list in DIS Documentation Guide</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TradePartyName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Trade Party Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TradePartyAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Trade Party Address </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselDataType">
		<xs:sequence>
			<xs:element minOccurs="0" name="CarrierSCAC" type="xs:string">
				<xs:annotation>
					<xs:documentation>SCAC Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="License_PermitNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>License permit number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CertificateNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Certificate Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="IssueDate" type="xs:string">
				<xs:annotation>
					<xs:documentation>License issue date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ExpirationDate" type="xs:string">
				<xs:annotation>
					<xs:documentation>License expiration date </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GrossTonnage" type="xs:string">
				<xs:annotation>
					<xs:documentation>Gross tonnage (weight) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="NetTonnage" type="xs:string">
				<xs:annotation>
					<xs:documentation>Net Tonnage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VesselVoyageNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Vessel Voyage Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VesselVoyageSegmentNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Vessel Voyage Segment Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VesselInspectionID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Vessel Inspection ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfoType">
		<xs:sequence>
			<xs:element minOccurs="0" name="POC_Info" type="xs:string">
				<xs:annotation>
					<xs:documentation>POC Contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="POC_PhoneNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>POC_PhoneNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ReturnEmailAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Email address of return party</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageIdentifierType">
		<xs:annotation>
			<xs:documentation>Can be used to provide CBMA IOR Number</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="PackageCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>Package Category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PackageName">
				<xs:annotation>
					<xs:documentation>Package Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImporterOfRecordNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Importer Of Record Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>