canonical/pedimentoSalida..xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://privados.recintos.ws" schemaLocation="tns.xsd"></xs:import>
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"></xs:import>
  <xs:element name="informacionGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idOperacion"></xs:element>
        <xs:element ref="idAsociado"></xs:element>
        <xs:element ref="fechRegistro"></xs:element>
        <xs:element ref="idDetalleMovimiento"></xs:element>
        <xs:element ref="idMovimiento"></xs:element>
        <xs:element ref="idTipoOperacion"></xs:element>
        <xs:element ref="idRecintoFiscalizado"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="idOperacion" type="xs:integer"></xs:element>
  <xs:element name="fechRegistro" type="xs:dateTime"></xs:element>
  <xs:element name="idDetalleMovimiento" type="xs:integer"></xs:element>
  <xs:element name="idMovimiento" type="xs:integer"></xs:element>
  <xs:element name="idTipoOperacion" type="xs:integer"></xs:element>
  <xs:element name="idRecintoFiscalizado" type="xs:integer"></xs:element>
  <xs:element name="pedimento" type="xs:integer"></xs:element>
  <xs:element name="aduana" type="xs:string"></xs:element>
  <xs:element name="patente" type="xs:integer"></xs:element>
  <xs:element name="mercancia">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idMercancia"></xs:element>
        <xs:element ref="idAsociado"></xs:element>
        <xs:element ref="numSecuencia"></xs:element>
        <xs:element ref="numPiezas"></xs:element>
        <xs:element ref="cveUmPiezas"></xs:element>
        <xs:element ref="numPeso"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="idMercancia" type="xs:integer"></xs:element>
  <xs:element name="numSecuencia" type="xs:string"></xs:element>
  <xs:element name="numPiezas" type="xs:integer"></xs:element>
  <xs:element name="cveUmPiezas" type="xs:string"></xs:element>
  <xs:element name="numPeso" type="xs:decimal"></xs:element>
  <xs:element name="idAsociado" type="xs:integer"></xs:element>
</xs:schema>