canonical/RequestDataPackage.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cbp.dhs.gov/DIS">
	<xs:include schemaLocation="CommonData.xsd"></xs:include>
	<xs:include schemaLocation="DataRequestPackage.xsd"></xs:include>
	<xs:complexType name="RequestedDataPackage">
		<xs:sequence>
			<xs:element name="DataRequestPackage" type="DataRequestPackage">
				<xs:annotation>
					<xs:documentation>The request for which data is being sent </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedData" type="RequestedData">
				<xs:annotation>
					<xs:documentation>Requested Data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestedData">
		<xs:annotation>
			<xs:documentation>Requested Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RequestedDataRecord"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestedDataRecord">
		<xs:sequence>
			<xs:element minOccurs="0" name="DocumentID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - ID of the sent Document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Form Label of the sent Document. Ex CBP Form 301 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Specific Name of the sent document ex. 2009 Fish Import License</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Type of Document Sent </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentTrackingID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Descriptive ID of the sent document transmission to facilitate tracking etc. ex. ACE Email 29901010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentSentDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date the document was sent to CBP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentValidationStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Status of the Document Transmission to CBP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentReviewStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Status of the Document Review by CBP and PGAs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DocumentRejectReason" type="xs:string">
				<xs:annotation>
					<xs:documentation>Reason For Rejection if Document Review Status = 'REJECTED'</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>