canonical/ResponseMessage.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iws.cbp.dhs.gov/ITDSServices/IWS">
	<xs:element name="ResponseMessage" type="ResponseMessage"></xs:element>
	<xs:complexType name="ResponseMessage">
		<xs:annotation>
			<xs:documentation>A message response is received synchronously upon a making web service call</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReturnCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>SUCCESS or FAILURE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ReturnRemark" type="xs:string">
				<xs:annotation>
					<xs:documentation>A remark that describes the result of the web service call</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ErrorDetailsList" type="IWS:ErrorDetailsList">
				<xs:annotation>
					<xs:documentation>Any details of errors encountered. Populated only if ReturnCode is FAILURE.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorDetailsList">
		<xs:annotation>
			<xs:documentation>List of Error Detail elements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ErrorDetails" type="IWS:ErrorDetails">
				<xs:annotation>
					<xs:documentation>Error Detail Element</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorDetails">
		<xs:annotation>
			<xs:documentation>Details or any errors or exceptions encountered</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorCode" type="IWS:enumErrorCode">
				<xs:annotation>
					<xs:documentation>enumErrorCode to facilitate automated error processing and routing if needed. Note that ErrorCode 1010 indicates Authentication Failure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>A remark that describes the result of the web service call</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="enumMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IWSMessage"></xs:enumeration>
			<xs:enumeration value="Other"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumErrorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1000"></xs:enumeration>
			<xs:enumeration value="1001"></xs:enumeration>
			<xs:enumeration value="1002"></xs:enumeration>
			<xs:enumeration value="1003"></xs:enumeration>
			<xs:enumeration value="1004"></xs:enumeration>
			<xs:enumeration value="1005"></xs:enumeration>
			<xs:enumeration value="1006"></xs:enumeration>
			<xs:enumeration value="1007"></xs:enumeration>
			<xs:enumeration value="1008"></xs:enumeration>
			<xs:enumeration value="1009"></xs:enumeration>
			<xs:enumeration value="1010"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumTradePartyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MANUFACTURER"></xs:enumeration>
			<xs:enumeration value="EXPORTER"></xs:enumeration>
			<xs:enumeration value="IMPORTER"></xs:enumeration>
			<xs:enumeration value="SHIPPER"></xs:enumeration>
			<xs:enumeration value="CARRIER"></xs:enumeration>
			<xs:enumeration value="BROKER"></xs:enumeration>
			<xs:enumeration value="FILER"></xs:enumeration>
			<xs:enumeration value="CONSIGNEE"></xs:enumeration>
			<xs:enumeration value="AGENT"></xs:enumeration>
			<xs:enumeration value="BUYER"></xs:enumeration>
			<xs:enumeration value="SELLER"></xs:enumeration>
			<xs:enumeration value="FACILITATOR"></xs:enumeration>
			<xs:enumeration value="OTHER"></xs:enumeration>
			<xs:enumeration value="UNKNOWN"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>