canonical/UniversalInterchangeCannonical.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.freighttrust.com/schema/universal/2020/06">
  <xs:element name="UniversalInterchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SenderID" type="xs:string"></xs:element>
              <xs:element name="RecipientID" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="Acknowledgement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="OnAll"></xs:enumeration>
                          <xs:enumeration value="OnError"></xs:enumeration>
                          <xs:enumeration value="OnSuccess"></xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Channel">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="eHub"></xs:enumeration>
                          <xs:enumeration value="eAdaptor"></xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="RecipientID" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ContextCollection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Context">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Type" type="xs:string"></xs:element>
                                <xs:element name="Value" type="xs:string"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="DeliveryMetadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ValueCollection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Value">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string"></xs:element>
                                <xs:element name="Type">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="String"></xs:enumeration>
                                      <xs:enumeration value="DateTime"></xs:enumeration>
                                      <xs:enumeration value="Integer"></xs:enumeration>
                                      <xs:enumeration value="Decimal"></xs:enumeration>
                                      <xs:enumeration value="Byte"></xs:enumeration>
                                      <xs:enumeration value="Boolean"></xs:enumeration>
                                      <xs:enumeration value="Short"></xs:enumeration>
                                      <xs:enumeration value="DateTimeOffset"></xs:enumeration>
                                      <xs:enumeration value="Geography"></xs:enumeration>
                                      <xs:enumeration value="Base64Binary"></xs:enumeration>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Data" type="xs:string"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"></xs:any>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:token"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>