schema/CargoWise/CartageJob.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Richard White (Eagle Datamation International) -->
<xs:schema targetNamespace="http://www.edi.com.au/EnterpriseService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.edi.com.au/EnterpriseService/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Consol.xsd"/>
	<xs:include schemaLocation="Elements.xsd"/>
	<xs:element name="CartageJobs" type="CartageJobs"/>
	<xs:complexType name="CartageJobs">
		<xs:sequence>
			<xs:element name="CartageJob" type="CartageJob" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CartageJob">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JobType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Action" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActionType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageResponseAddress" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageSystemType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CartageContractorJobNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientJobReference" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientQuoteReference" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientTransportDocument" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RequestedServiceTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="BillTo" type="Organisation" minOccurs="0"/>
			<xs:element name="TransportReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added for Clippership</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added for Clippership</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added for Clippership</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceAmount" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added for Clippership</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportBillTo" type="Organisation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Added for Clippership</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightCharges" type="FreightCharges" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Carrier" type="Organisation" minOccurs="0"/>
			<xs:element name="CartageOrg" type="Organisation" minOccurs="0"/>
			<xs:element name="Consignee" type="DocAddress" minOccurs="0"/>
			<xs:element name="Consignor" type="DocAddress" minOccurs="0"/>
			<xs:element name="CartageLegs" type="CartageLegs" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OuterPacks" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OuterPacksNo" type="xs:int" minOccurs="0"/>
						<xs:element name="OuterPacksType" type="xs:string" minOccurs="0"/>
						<xs:element name="OuterPacksWeight" type="DimensionValue" minOccurs="0"/>
						<xs:element name="OuterPacksVolume" type="DimensionValue" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SailingInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortOfLoading" type="xs:string" minOccurs="0"/>
						<xs:element name="PortOfDischarge" type="xs:string" minOccurs="0"/>
						<xs:choice>
							<xs:element name="Sailing" type="SailingWithVesselVoyage" minOccurs="0"/>
							<xs:element name="Flight" type="FlightWithFlightNumber" minOccurs="0"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomAttributes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomAttr1" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomAttr2" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomDate1" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="CustomDate2" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="CustomDecimal1" type="xs:decimal" minOccurs="0"/>
						<xs:element name="CustomDecimal2" type="xs:decimal" minOccurs="0"/>
						<xs:element name="CustomFlag1" type="xs:boolean" minOccurs="0"/>
						<xs:element name="CustomFlag2" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Notes" type="Notes" minOccurs="0"/>
			<xs:element name="DropMode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CartageLegs">
		<xs:sequence>
			<xs:element name="CartageLeg" type="CartageLeg" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CartageLeg">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegStatus" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pickup" type="CartageLegDocAddress" minOccurs="0"/>
			<xs:element name="Delivery" type="CartageLegDocAddress" minOccurs="0"/>
			<xs:element name="MostDangerousGoodsCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CartageLegDates" type="CartageLegDates" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Container" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="Container">
								<xs:sequence>
									<xs:element name="ContainerAdditionalInfo">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AdditionalSealNo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="GrossWeight" type="DimensionValue" minOccurs="0"/>
												<xs:element name="TareWeight" type="DimensionValue" minOccurs="0"/>
												<xs:element name="DropMode" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="25"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="TempRecorderNo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="25"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ReleaseNo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="25"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="EmptyRequiredDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="PackDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="DepartureSlotDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="DepartureSlotRef" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ArrivalSlotDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="ArrivalSlotRef" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LCLStorageDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="FCLStorageDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="UnpackDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="EmptyReturnedByDate" type="xs:dateTime" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="PackageRecords" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Packs" type="Packs" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="TransportCo" type="Organisation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Packs">
		<xs:sequence>
			<xs:element name="Package" type="Package" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CartageLegDates">
		<xs:sequence>
			<xs:element name="EstimatedPickupDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PickupTimeInDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PickupTimeOutDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="EstimatedDeliveryDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="DeliverTimeOutDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PickupDemurrage" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="DeliveryDemurrage" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="DeliverTimeInDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PlannedPickupFrom" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PlannedPickupTo" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CartageLegDocAddress">
		<xs:sequence>
			<xs:element name="DocAddress" type="DocAddress" minOccurs="0"/>
			<xs:element name="AdditionalInstructions" type="AdditionalInstructions" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInstructions">
		<xs:sequence>
			<xs:element name="LoadingUnloadingConstraints" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccessPoint" type="xs:string" minOccurs="0"/>
						<xs:element name="Communication" type="xs:string" minOccurs="0"/>
						<xs:element name="DockHeight" type="xs:string" minOccurs="0"/>
						<xs:element name="ContainerHandling" type="xs:string" minOccurs="0"/>
						<xs:element name="LabourRequired" type="xs:string" minOccurs="0"/>
						<xs:element name="FurtherConstraints" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
