schema/CargoWise/Elements.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Richard White (Eagle Datamation International) -->
<xs:schema targetNamespace="http://www.edi.com.au/EnterpriseService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.edi.com.au/EnterpriseService/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="AbstractPackage">
		<xs:sequence>
			<xs:element name="PackType">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackageID" type="xs:string" minOccurs="0"/>
			<xs:element name="TransportRef" type="xs:string" minOccurs="0"/>
			<xs:element name="NumberOfPacks" type="xs:unsignedInt"/>
			<xs:element name="Weight" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Length" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Width" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Height" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Volume" type="DimensionValue" minOccurs="0"/>
			<xs:element name="GoodsDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalCustomsInformation">
		<xs:sequence>
			<xs:element name="CustomsDetailType" type="xs:NMTOKEN"/>
			<xs:element name="CustomsDetailValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBase">
		<xs:sequence>
			<xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CityOrSuburb" type="xs:string" minOccurs="0"/>
			<xs:element name="StateOrProvince" type="xs:string" minOccurs="0"/>
			<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
			<xs:element name="TelephoneNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TelephoneNumber" type="TelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Email" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressCapability">
		<xs:attribute name="IsMainAddress" type="TrueFalse" use="optional"/>
		<xs:attribute name="AddressType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MAIN"/>
					<xs:enumeration value="OFC"/>
					<xs:enumeration value="PST"/>
					<xs:enumeration value="ARM"/>
					<xs:enumeration value="APM"/>
					<xs:enumeration value="PIC"/>
					<xs:enumeration value="DLV"/>
					<xs:enumeration value="PAD"/>
					<xs:enumeration value="SQM"/>
					<xs:enumeration value="MSC"/>
					<xs:enumeration value="RSD"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AddressReference">
		<xs:sequence>
			<xs:element name="AddressSequenceRef" type="xs:int"/>
			<xs:element name="Organisation" type="Organisation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Charges">
		<xs:sequence>
			<xs:element name="Charge" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChargeType" type="xs:NMTOKEN"/>
						<xs:element name="ChargeAmount" type="FinancialValue"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Fees">
		<xs:sequence>
			<xs:element name="Fee" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FeeType" type="xs:NMTOKEN"/>
						<xs:element name="FeeAmount" type="FinancialValue"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactReference">
		<xs:sequence>
			<xs:element name="ContactSequenceRef" type="xs:int"/>
			<xs:element name="Organisation" type="Organisation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Container">
		<xs:sequence>
			<xs:element name="ContainerNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for container.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContainerCount" type="xs:int" default="1" minOccurs="0"/>
			<xs:element name="ContainerType" type="ContainerType" minOccurs="0"/>
			<xs:element name="Seal" type="xs:string" minOccurs="0"/>
			<xs:element name="PackingMode" type="ContainerMode"/>
			<xs:element name="DeliveryMode" type="xs:string" minOccurs="0"/>
			<xs:element name="EstimatedDelivery" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="IsShipperOwnedContainer" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LCLAvailable" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Weight" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FCLAvailable" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="BookingReference" type="xs:string" minOccurs="0"/>
			<xs:element name="IsArrivingAtCTOByRail" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsEmptyContainer" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsDamaged" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CommodityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ImportProcess" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContainerProcess">
							<xs:sequence>
								<xs:element name="WharfUnload" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="WharfGateOut" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="EstimatedDelivery" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="DeliverEmptyTo" type="AddressReference" minOccurs="0"/>
								<xs:element name="EmptyReady" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="EmptyReturnRequiredBy" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="EmptyReturnedOn" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="DetentionCharge" type="xs:decimal" minOccurs="0"/>
								<xs:element name="DetentionDays" type="xs:string" minOccurs="0"/>
								<xs:element name="StorageCharge" type="xs:decimal" minOccurs="0"/>
								<xs:element name="StorageDays" type="xs:string" minOccurs="0"/>
								<xs:element name="PickupByRail" type="xs:boolean" minOccurs="0"/>
								<xs:element name="HeldForFCLTransitStaging" type="xs:boolean" minOccurs="0"/>
								<xs:element name="FCLAvailable" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="FCLStorage" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="LCLAvailable" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="LCLStorage" type="xs:dateTime" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportProcess" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContainerProcess">
							<xs:sequence>
								<xs:element name="BookingReference" type="xs:string" minOccurs="0"/>
								<xs:element name="EmptyRequiredBy" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="EstimatedFullPickup" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="PickupEmptyFrom" type="AddressReference" minOccurs="0"/>
								<xs:element name="ContainerYardGateOut" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="WharfGateIn" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="ShippedOnboard" type="xs:dateTime" minOccurs="0"/>
								<xs:element name="IsArrivingAtCTOByRail" type="xs:boolean" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Custom" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomAttribute1" type="xs:string" minOccurs="0"/>
						<xs:element name="Date1" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="Decimal1" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Flag1" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContainerType">
		<xs:sequence>
			<xs:element name="USContainerCode" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="Length" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Width" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Height" type="xs:decimal" minOccurs="0"/>
			<xs:element name="ContainerCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ISOCode" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="CustomsEntry">
		<xs:sequence>
			<xs:element name="CustomsEntryNumber" type="CustomsEntryNumber" minOccurs="0"/>
			<xs:element name="EntryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="CustomsFactor" type="xs:decimal" minOccurs="0"/>
			<xs:element name="ExchangeRate" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CustomsValue" type="FinancialValue" minOccurs="0"/>
			<xs:element name="TransportAndInsurance" type="FinancialValue" minOccurs="0"/>
			<xs:element name="Charges" type="Charges" minOccurs="0"/>
			<xs:element name="CustomsEntryLines" type="CustomsEntryLines" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsEntryLine">
		<xs:sequence>
			<xs:element name="Fees" type="Fees" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsEntryLines">
		<xs:sequence>
			<xs:element name="CstomsEntryLine" type="CustomsEntryLine" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsEntries">
		<xs:sequence>
			<xs:element name="CustomsEntry" type="CustomsEntry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsEntryNumber">
		<xs:sequence>
			<xs:element name="Country" type="CountryCode"/>
			<xs:element name="Type" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="Number" type="xs:NMTOKEN" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsEntryNumbers">
		<xs:sequence>
			<xs:element name="CustomsEntryNumber" type="CustomsEntryNumber" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>Declaration specific information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Importer" type="Organisation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is only required if the Importer is different to the consignee on the shipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManifestID" type="xs:string" minOccurs="0"/>
			<xs:element name="AddCustomsDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddCustomsDetail" type="AdditionalCustomsInformation" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BillContainerPacks" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BillContainerPack" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BillNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="MasterbillNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="ContainerNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="PackQty" type="DimensionValue" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsOrigin" type="CountryCode" minOccurs="0"/>
			<xs:element name="IsDocuments" type="TrueFalse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specify whether the goods are documents or non-documents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsFumigationCert" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsPerishableGoods" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsPersonalEffects" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsHazardousGoods" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsTimber" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsSAC" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsSurplus" type="TrueFalse" minOccurs="0"/>
			<xs:element name="PaymentTerms" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="BondedWarehouse" type="AddressReference" minOccurs="0"/>
			<xs:element name="LandedCostingHeader" type="LandedCostingHeader" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DimensionValue">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="DimensionType" type="xs:NMTOKEN" use="optional"/>
				<xs:attribute name="Description" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DocAddress">
		<xs:complexContent>
			<xs:extension base="AddressBase">
				<xs:sequence>
					<xs:element name="AddressReference" type="AddressReference" minOccurs="0"/>
					<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
					<xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ContactName" type="xs:string" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="AddressType">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="CED"/>
							<xs:enumeration value="CRG"/>
							<xs:enumeration value="CEG"/>
							<xs:enumeration value="CRD"/>
							<xs:enumeration value="SUD"/>
							<xs:enumeration value="IMD"/>
							<xs:enumeration value="SUG"/>
							<xs:enumeration value="IMG"/>
							<xs:enumeration value="CLP"/>
							<xs:enumeration value="CLD"/>
							<xs:enumeration value="CLW"/>
							<xs:enumeration value="NPP"/>
							<xs:enumeration value="N2D"/>
							<xs:enumeration value="N3D"/>
							<xs:enumeration value="LCT"/>
							<xs:enumeration value="LCF"/>
							<xs:enumeration value="LCY"/>
							<xs:enumeration value="LCI"/>
							<xs:enumeration value="LCE"/>
							<xs:enumeration value="LC1"/>
							<xs:enumeration value="LC2"/>
							<xs:enumeration value="LC3"/>
							<xs:enumeration value="LC4"/>
							<xs:enumeration value="LCS"/>
							<xs:enumeration value="LCM"/>
							<xs:enumeration value="DUM"/>
							<xs:enumeration value="NONE"/>
							<xs:enumeration value="LCP"/>
							<xs:enumeration value="LCD"/>
							<xs:enumeration value="BKD"/>
							<xs:enumeration value="CEA"/>
							<xs:enumeration value="GBA"/>
							<xs:enumeration value="PUA"/>
							<xs:enumeration value="FWD"/>
							<xs:enumeration value="ICD"/>
							<xs:enumeration value="FSD"/>
							<xs:enumeration value="OQP"/>
							<xs:enumeration value="OQD"/>
							<xs:enumeration value="ACF"/>
							<xs:enumeration value="ACT"/>
							<xs:enumeration value="ACY"/>
							<xs:enumeration value="DCF"/>
							<xs:enumeration value="DCT"/>
							<xs:enumeration value="DCY"/>
							<xs:enumeration value="DOA"/>
							<xs:enumeration value="BUY"/>
							<xs:enumeration value="INS"/>
							<xs:enumeration value="ASS"/>
							<xs:enumeration value="CPB"/>
							<xs:enumeration value="SRO"/>
							<xs:enumeration value="OCP"/>
							<xs:enumeration value="TRA"/>
							<xs:enumeration value="TBT"/>
							<xs:enumeration value="CCP"/>
							<xs:enumeration value="CTO"/>
							<xs:enumeration value="CDE"/>
							<xs:enumeration value="CWA"/>
							<xs:enumeration value="PRO"/>						
							<xs:enumeration value="SOF"/>
							<xs:enumeration value="GOV"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocAddresses">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="DocAddress" type="DocAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="DataType" type="xs:string" minOccurs="0"/>
			<xs:element name="DocumentType" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="FileName" type="xs:string" minOccurs="0"/>
			<xs:element name="Date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Data" type="xs:base64Binary"/>
			<xs:element name="IsSystemGenerated" type="TrueFalse" minOccurs="0"/>
			<xs:element name="IsPublished" type="TrueFalse" minOccurs="0"/>
			<xs:element name="SaveVersions" type="TrueFalse" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Documents">
		<xs:sequence>
			<xs:element name="Document" type="Document" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialValue">
		<xs:simpleContent>
			<xs:extension base="MonetaryAmount">
				<xs:attribute name="CurrencyCode" type="xs:NMTOKEN" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FreightCharges">
		<xs:sequence>
			<xs:element name="ChargeCode">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:maxLength value="10"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:maxLength value="80"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentType" type="PaymentType"/>
			<xs:element name="RateChargeUnits" type="xs:decimal" minOccurs="0"/>
			<xs:element name="RateChargeAmount" type="MonetaryAmount" minOccurs="0"/>
			<xs:element name="RateMinimum" type="MonetaryAmount" minOccurs="0"/>
			<xs:element name="TotalAmount" type="FinancialValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HazardousGoods">
		<xs:sequence>
			<xs:element name="UNDGCode" type="xs:NMTOKEN"/>
			<xs:element name="IMOClass" type="xs:NMTOKEN"/>
			<xs:element name="ProperShippingName" type="xs:string"/>
			<xs:element name="FlashPoint" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InnerPackage">
		<xs:complexContent>
			<xs:extension base="AbstractPackage">
				<xs:sequence>
					<xs:element name="RefNumber" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterchangeInfo">
		<xs:sequence>
			<xs:element name="Date" type="xs:dateTime"/>
			<xs:element name="Source" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnterpriseCode" type="xs:string" minOccurs="0"/>
						<xs:element name="CompanyCode" type="xs:string" minOccurs="0"/>
						<xs:element name="OriginServer" type="xs:string" minOccurs="0"/>
						<xs:element name="LoginName" type="xs:string" minOccurs="0"/>
						<xs:element name="SenderCode" type="xs:string" minOccurs="0"/>
						<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceKeys" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceKey" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="ReferenceKeyName" type="ReferenceType"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Target" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BranchCode" type="xs:string" minOccurs="0"/>
						<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
						<xs:element name="ReceiverCode" type="xs:string" minOccurs="0"/>
						<xs:element name="Type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="Consol"/>
									<xs:enumeration value="Declaration"/>
									<xs:enumeration value="Order"/>
									<xs:enumeration value="CommercialInvoice"/>
									<xs:enumeration value="ClientSpecific"/>
									<xs:enumeration value="Bookings"/>
									<xs:enumeration value="LowValueDeclaration"/>
									<xs:enumeration value="LocalCartageBooking"/>
									<xs:enumeration value="LocalCartageStatus"/>
									<xs:enumeration value="WarehouseJob"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EDIOrganisation" type="Organisation" minOccurs="0"/>
			<xs:element name="Command" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Add"/>
						<xs:enumeration value="Edit"/>
						<xs:enumeration value="Delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonetaryAmount">
		<xs:simpleContent>
			<xs:extension base="MonetaryAmountSimpleType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Movement">
		<xs:sequence>
			<xs:element name="Port" type="UNLOCO"/>
			<xs:element name="EstimatedDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ActualDateTime" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Notes">
		<xs:sequence>
			<xs:element name="Note" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NoteType">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="Custom"/>
									<xs:enumeration value="AccountsPayableAccountManagementNotes"/>
									<xs:enumeration value="AccountsReceivableAccountManagementNotes"/>
									<xs:enumeration value="AccountsReceivableCreditManagementNote"/>
									<xs:enumeration value="AutoRatingAuditLog"/>
									<xs:enumeration value="AWBRatelineOvertypedNotes"/>
									<xs:enumeration value="BookingNotes"/>
									<xs:enumeration value="CertificateOfOriginNote"/>
									<xs:enumeration value="ClientVisibleJobNotes"/>
									<xs:enumeration value="CustomsMessageRemarks"/>
									<xs:enumeration value="CustomsDeliveryInstructions"/>
									<xs:enumeration value="DangerousGoodsAdditionalHandlingInformation"/>
									<xs:enumeration value="DeliveryInstructionsNote"/>
									<xs:enumeration value="DeliveryOrderReceiptNotes"/>
									<xs:enumeration value="DetailedGoodsDescription"/>
									<xs:enumeration value="ExportCustomsHandlineNotes"/>
									<xs:enumeration value="ExportReceivalAdviceRemarks"/>
									<xs:enumeration value="ExtraOrderDetails"/>
									<xs:enumeration value="FaxEmailTransmissionLog"/>
									<xs:enumeration value="ForwardingInstructionNotes"/>
									<xs:enumeration value="HandlingInstructions"/>
									<xs:enumeration value="ImportCustomsHandlingNotes"/>
									<xs:enumeration value="InactiveRecordDetails"/>
									<xs:enumeration value="InternalWorkNotes"/>
									<xs:enumeration value="InvoiceDetails"/>
									<xs:enumeration value="InvoicingPreferences"/>
									<xs:enumeration value="IssueWorkingNotes"/>
									<xs:enumeration value="IssueResolutionNotes"/>
									<xs:enumeration value="LoadListInstructions"/>
									<xs:enumeration value="MarksAndNumbers"/>
									<xs:enumeration value="MessageInterpretation"/>
									<xs:enumeration value="OrderManagementNote"/>
									<xs:enumeration value="OrderManagementUpdate"/>
									<xs:enumeration value="OrderUpdateHistory"/>
									<xs:enumeration value="OutturnNotes"/>
									<xs:enumeration value="PaymentHandlingInstructions"/>
									<xs:enumeration value="PrealertArrivalNoticeRemarks"/>
									<xs:enumeration value="QuoteCoverPageText"/>
									<xs:enumeration value="SpecialInstructions"/>
									<xs:enumeration value="SurveyInstructions"/>
									<xs:enumeration value="TranshipmentNotes"/>
									<xs:enumeration value="TraxonLicenseNumbers"/>
									<xs:enumeration value="UnmatchedOrgDetails"/>
									<xs:enumeration value="PickupInstructionsNote"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CustomNoteTypeName" type="xs:string" minOccurs="0"/>
						<xs:element name="NoteData" type="xs:string"/>
						<xs:element name="NoteCreatedDateTime" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgAddress">
		<xs:complexContent>
			<xs:extension base="AddressBase">
				<xs:sequence>
					<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
					<xs:element name="Location" type="UNLOCO" minOccurs="0"/>
					<xs:element name="Sequence" type="xs:int" minOccurs="0"/>
					<xs:element name="AddressCapabilities" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AddressCapability" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="AddressCapability"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="AddressType">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="MAIN"/>
							<xs:enumeration value="OFC"/>
							<xs:enumeration value="PST"/>
							<xs:enumeration value="ARM"/>
							<xs:enumeration value="APM"/>
							<xs:enumeration value="PIC"/>
							<xs:enumeration value="DLV"/>
							<xs:enumeration value="PAD"/>
							<xs:enumeration value="SQM"/>
							<xs:enumeration value="MSC"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Organisation">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>The originator of the message must provide either the unique code for the organisation or sufficient detail for ediEnterprise for uniquely identfy a new or exsiting organisation in the designated role.</xs:documentation>
			</xs:annotation>
			<xs:element name="OrganisationDetails" type="OrganisationDetail" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="EDICode" type="xs:string" use="optional"/>
		<xs:attribute name="OwnerCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="OrganisationDetail">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Location" type="UNLOCO" minOccurs="0"/>
			<xs:element name="Addresses">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="OrgAddress"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contact" type="OrgContact" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrgWebURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URL" type="OrgWebURL" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WebAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="RegistrationNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RegistrationNumber" type="RegistrationNumber" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EDITransmissionDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="EMA"/>
									<xs:enumeration value="EMT"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Address" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrganisationTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrganisationType" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="OrganisationTypes"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EDICodeMappings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EDICodeMapping" type="EDICodeMapping" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BrandNames" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BrandName" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountsReceivable" type="AccountsReceivable" minOccurs="0"/>
			<xs:element name="AccountsPayable" type="AccountsPayable" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisations">
		<xs:sequence>
			<xs:element name="Organisation" type="Organisation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgContact">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Salutation" type="xs:string" minOccurs="0"/>
			<xs:element name="Language" type="xs:string" minOccurs="0"/>
			<xs:element name="NotifyMode" type="xs:string" minOccurs="0"/>
			<xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="Phone" type="xs:string" minOccurs="0"/>
			<xs:element name="PhoneExtension" type="xs:string" minOccurs="0"/>
			<xs:element name="Fax" type="xs:string" minOccurs="0"/>
			<xs:element name="Mobile" type="xs:string" minOccurs="0"/>
			<xs:element name="HomePhone" type="xs:string" minOccurs="0"/>
			<xs:element name="Pager" type="xs:string" minOccurs="0"/>
			<xs:element name="OtherPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="AttachmentType" type="xs:string" minOccurs="0"/>
			<xs:element name="WebAccessEnable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="WebContractSignDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Birthday" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="Sequence" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgWebURL">
		<xs:sequence>
			<xs:element name="URL" type="xs:string"/>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="MAI"/>
						<xs:enumeration value="CRT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="IsPrimary" type="xs:boolean"/>
			<xs:element name="Sequence" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountsPayable">
		<xs:sequence>
			<xs:element name="DefaultCurrency" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="AccountGroup" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="CreditLimit" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GSTIsApplicable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="WithholdingTaxIsApplicable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="PaymentTerms" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="PaymentDays" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountsReceivable">
		<xs:sequence>
			<xs:element name="DefaultCurrency" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="AccountGroup" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="CreditLimit" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CreditOnHold" type="xs:boolean" minOccurs="0"/>
			<xs:element name="GSTIsApplicable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="WithholdingTaxIsApplicable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SettlementDetails" type="SettlementDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementDetails">
		<xs:sequence>
			<xs:element name="StandardInvoiceTerms" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="StandardInvoiceDays" type="xs:int" minOccurs="0"/>
			<xs:element name="DisbursementInvoiceTerms" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="DisbursementInvoiceDays" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Package">
		<xs:complexContent>
			<xs:extension base="AbstractPackage">
				<xs:sequence>
					<xs:element name="ContainerNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="Origin" type="CountryCode" minOccurs="0"/>
					<xs:element name="HazardousGoods" type="HazardousGoods" minOccurs="0"/>
					<xs:element name="DGContact" type="ContactReference" minOccurs="0"/>
					<xs:element name="MarksAndNumbers" type="xs:string" minOccurs="0"/>
					<xs:element name="CommodityCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Payload">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SailingBase">
		<xs:sequence>
			<xs:element name="ETD" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ETA" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ATD" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ATA" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="DepartureCTO" type="AddressReference" minOccurs="0"/>
			<xs:element name="DepartureBerth" type="xs:string" minOccurs="0"/>
			<xs:element name="ArrivalCTO" type="AddressReference" minOccurs="0"/>
			<xs:element name="ArrivalBerth" type="xs:string" minOccurs="0"/>
			<xs:element name="DocCutOffDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="IsTranshipment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IsPublished" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SailingDates">
		<xs:sequence>
			<xs:element name="ReceivalCommencesDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CutOffDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="AvailableDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="StorageDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Flight">
		<xs:complexContent>
			<xs:extension base="SailingBase">
				<xs:sequence>
					<xs:element name="Dates" type="SailingDates" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlightWithFlightNumber">
		<xs:complexContent>
			<xs:extension base="Flight">
				<xs:sequence>
					<xs:element name="FlightNoJourneyNoTruckRegNo" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Storage">
		<xs:complexContent>
			<xs:extension base="SailingBase"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Sailing">
		<xs:complexContent>
			<xs:extension base="SailingBase">
				<xs:sequence>
					<xs:element name="LCLDates" type="SailingDates" minOccurs="0"/>
					<xs:element name="FCLDates" type="SailingDates" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SailingWithVesselVoyage">
		<xs:complexContent>
			<xs:extension base="Sailing">
				<xs:sequence>
					<xs:element name="VesselName" type="xs:string"/>
					<xs:element name="VoyageNo" type="xs:string"/>
					<xs:element name="LloydsNo" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SailingForPlannedLegs">
		<xs:complexContent>
			<xs:extension base="Sailing">
				<xs:sequence>
					<xs:element name="VesselName" type="xs:string" minOccurs="0"/>
					<xs:element name="LloydsNo" type="xs:string" minOccurs="0"/>
					<xs:element name="VoyageNo" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlannedLeg">
		<xs:sequence>
			<xs:element name="TransportMode" type="TransportMode"/>
			<xs:element name="PortOfLoading" type="Movement" minOccurs="0"/>
			<xs:element name="PortOfDischarge" type="Movement" minOccurs="0"/>
			<xs:element name="TransportType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Flight1"/>
						<xs:enumeration value="Flight2"/>
						<xs:enumeration value="Flight3"/>
						<xs:enumeration value="MainVessel"/>
						<xs:enumeration value="PreCarriage"/>
						<xs:enumeration value="OnForwarding"/>
						<xs:enumeration value="OnBoardCourier"/>
						<xs:enumeration value="Unaccompanied"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="RoadRailFlight" type="FlightWithFlightNumber"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Vessel" type="SailingForPlannedLegs"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Storage" type="Storage"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumber">
		<xs:sequence>
			<xs:element name="CountryOfRegistration" type="CountryCode"/>
			<xs:element name="NumberType" type="RegistrationNumberTypes"/>
			<xs:element name="Number" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrganisationTypes">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="ACT"/>
			<xs:enumeration value="NAT"/>
			<xs:enumeration value="GLB"/>
			<xs:enumeration value="TMP"/>
			<xs:enumeration value="A_R"/>
			<xs:enumeration value="A_P"/>
			<xs:enumeration value="CNR"/>
			<xs:enumeration value="CNE"/>
			<xs:enumeration value="TRN"/>
			<xs:enumeration value="WHS"/>
			<xs:enumeration value="CAR"/>
			<xs:enumeration value="FWD"/>
			<xs:enumeration value="BRK"/>
			<xs:enumeration value="SVS"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="SAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TelephoneNumber">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="NumberType" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Business"/>
							<xs:enumeration value="Fax"/>
							<xs:enumeration value="Mobile"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UNLOCO">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Country" type="xs:string" use="optional"/>
				<xs:attribute name="City" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ClassificationType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="IMP"/>
			<xs:enumeration value="EXP"/>
			<xs:enumeration value="BTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationAddressType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="EMA"/>
			<xs:enumeration value="EMT"/>
			<xs:enumeration value="EMS"/>
			<xs:enumeration value="FTP"/>
			<xs:enumeration value="HTT"/>
			<xs:enumeration value="HTS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContainerMode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="LCL"/>
			<xs:enumeration value="FCL"/>
			<xs:enumeration value="GRP"/>
			<xs:enumeration value="BCN"/>
			<xs:enumeration value="LSE"/>
			<xs:enumeration value="ULD"/>
			<xs:enumeration value="BBK"/>
			<xs:enumeration value="ROR"/>
			<xs:enumeration value="CON"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="FTL"/>
			<xs:enumeration value="OBC"/>
			<xs:enumeration value="UNA"/>
			<xs:enumeration value="OTH"/>
			<xs:enumeration value="AIR"/>
			<xs:enumeration value="BLK"/>
			<xs:enumeration value="MAI"/>
			<xs:enumeration value="FAK"/>
			<xs:enumeration value="FCX"/>
			<xs:enumeration value="EMP"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="CNT"/>
			<xs:enumeration value="NCT"/>
			<xs:enumeration value="LQD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryModeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CYCY"/>
			<xs:enumeration value="CFSCY"/>
			<xs:enumeration value="CFSCFS"/>
			<xs:enumeration value="CYCFS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DepartmentActivity">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Customs"/>
			<xs:enumeration value="DepotCFS"/>
			<xs:enumeration value="Forwarding"/>
			<xs:enumeration value="Linehaul"/>
			<xs:enumeration value="Cartage"/>
			<xs:enumeration value="Warehouse"/>
			<xs:enumeration value="Miscellaneous"/>
			<xs:enumeration value="NotDefined"/>
			<xs:enumeration value="Shipping"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Guid">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a Guid, generally the id of an element.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LandedCostDistributionCode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AWV"/>
			<xs:enumeration value="VOL"/>
			<xs:enumeration value="WGT"/>
			<xs:enumeration value="ITM"/>
			<xs:enumeration value="VAV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INCOTERM">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:simpleType name="MonetaryAmountSimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="PPD"/>
			<xs:enumeration value="CCX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="UniqueIdentifier"/>
			<xs:enumeration value="HouseBill"/>
			<xs:enumeration value="MasterBill"/>
			<xs:enumeration value="OrderNumber"/>
			<xs:enumeration value="ConsolNumber"/>
			<xs:enumeration value="ShipmentJobNumber"/>
			<xs:enumeration value="DeclarationJobNumber"/>
			<xs:enumeration value="ProductNumber"/>
			<xs:enumeration value="TariffLookup"/>
			<xs:enumeration value="DebtorCode"/>
			<xs:enumeration value="ConsignorCode"/>
			<xs:enumeration value="ConsigneeCode"/>
			<xs:enumeration value="OwnerReference"/>
			<xs:enumeration value="BatchNumber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegistrationNumberTypes">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="GST"/>
			<xs:enumeration value="CCD"/>
			<xs:enumeration value="GCR"/>
			<xs:enumeration value="CSC"/>
			<xs:enumeration value="CCP"/>
			<xs:enumeration value="CBR"/>
			<xs:enumeration value="CBS"/>
			<xs:enumeration value="CCC"/>
			<xs:enumeration value="CMP"/>
			<xs:enumeration value="LSC"/>
			<xs:enumeration value="1ST"/>
			<xs:enumeration value="GBR"/>
			<xs:enumeration value="GTX"/>
			<xs:enumeration value="CBP"/>
			<xs:enumeration value="REB"/>
			<xs:enumeration value="VAT"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="DLV"/>
			<xs:enumeration value="UNC"/>
			<xs:enumeration value="UOC"/>
			<xs:enumeration value="RAC"/>
			<xs:enumeration value="GTN"/>
			<xs:enumeration value="ROB"/>
			<xs:enumeration value="ROC"/>
			<xs:enumeration value="EAG"/>
			<xs:enumeration value="IAG"/>
			<xs:enumeration value="CID"/>
			<xs:enumeration value="OTH"/>
			<xs:enumeration value="CFS"/>
			<xs:enumeration value="BHR"/>
			<xs:enumeration value="AGT"/>
			<xs:enumeration value="EID"/>
			<xs:enumeration value="ATF"/>
			<xs:enumeration value="SEP"/>
			<xs:enumeration value="EIN"/>
			<xs:enumeration value="FDA"/>
			<xs:enumeration value="SSN"/>
			<xs:enumeration value="IRS"/>
			<xs:enumeration value="CBN"/>
			<xs:enumeration value="CJN"/>
			<xs:enumeration value="KCN"/>
			<xs:enumeration value="RGN"/>
			<xs:enumeration value="CNO"/>
			<xs:enumeration value="OGR"/>
			<xs:enumeration value="MID"/>
			<xs:enumeration value="FAA"/>
			<xs:enumeration value="NIP"/>
			<xs:enumeration value="COC"/>
			<xs:enumeration value="VSK"/>
			<xs:enumeration value="KEN"/>
			<xs:enumeration value="SAN"/>
			<xs:enumeration value="CRN"/>
			<xs:enumeration value="CST"/>
			<xs:enumeration value="CUI"/>
			<xs:enumeration value="RUT"/>
			<xs:enumeration value="CNP"/>
			<xs:enumeration value="NIT"/>
			<xs:enumeration value="CTP"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="EEN"/>
			<xs:enumeration value="EAP"/>
			<xs:enumeration value="ESN"/>
			<xs:enumeration value="EEU"/>
			<xs:enumeration value="PAS"/>
			<xs:enumeration value="DRV"/>
			<xs:enumeration value="CPF"/>
			<xs:enumeration value="IDN"/>
			<xs:enumeration value="MED"/>
			<xs:enumeration value="DUN"/>
			<xs:enumeration value="TAX"/>
			<xs:enumeration value="CVR"/>
			<xs:enumeration value="ORG"/>
			<xs:enumeration value="BRN"/>
			<xs:enumeration value="CPC"/>
			<xs:enumeration value="NMF"/>
			<xs:enumeration value="PPN"/>
			<xs:enumeration value="IVA"/>
			<xs:enumeration value="RFC"/>
			<xs:enumeration value="DPH"/>
			<xs:enumeration value="APC"/>
			<xs:enumeration value="MQE"/>
			<xs:enumeration value="AID"/>
			<xs:enumeration value="BRC"/>
			<xs:enumeration value="BRM"/>
			<xs:enumeration value="BRP"/>
			<xs:enumeration value="BRT"/>
			<xs:enumeration value="CSN"/>
      <xs:enumeration value="GCC"/>
			<xs:enumeration value="TRN"/>
      <xs:enumeration value="TVA"/>
      <xs:enumeration value="CON"/>
      <xs:enumeration value="SER"/>
      <xs:enumeration value="CIF"/>
      <xs:enumeration value="CMT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShipmentType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="IMP"/>
			<xs:enumeration value="EXP"/>
			<xs:enumeration value="EXW"/>
			<xs:enumeration value="MSC"/>
			<xs:enumeration value="EXX"/>
			<xs:enumeration value="IMX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReleaseType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="BRR"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTD"/>
			<xs:enumeration value="EBL"/>
			<xs:enumeration value="LOI"/>
			<xs:enumeration value="OBR"/>
			<xs:enumeration value="OBO"/>
			<xs:enumeration value="CSH"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="NON"/>
			<xs:enumeration value="SWB"/>
			<xs:enumeration value="STD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransportMode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SEA"/>
			<xs:enumeration value="AIR"/>
			<xs:enumeration value="ROA"/>
			<xs:enumeration value="RAI"/>
			<xs:enumeration value="MAI"/>
			<xs:enumeration value="FSA"/>
			<xs:enumeration value="FAS"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CHA"/>
			<xs:enumeration value="CHS"/>
			<xs:enumeration value="OTH"/>
			<xs:enumeration value="UNK"/>
			<xs:enumeration value="STO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TariffCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TrueFalse">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="EDICodeMapping">
		<xs:sequence>
			<xs:element name="Relationship" type="xs:string"/>
			<xs:element name="EDICode" type="xs:string"/>
			<xs:element name="ForeignCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostingGroupHeader">
		<xs:sequence>
			<xs:element name="GroupID" type="xs:int"/>
			<xs:element name="GroupDescription" type="xs:string"/>
			<xs:element name="CostDistributionCode" type="LandedCostDistributionCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostingSpecialTaxHeading">
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int"/>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostingHeader">
		<xs:sequence>
			<xs:element name="LandedCostingDate" type="xs:dateTime"/>
			<xs:element name="LandedCostingGroupHeaders">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LandedCostingGroupHeader" type="LandedCostingGroupHeader" maxOccurs="6"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpecialTaxHeadings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpecialTaxHeadings" type="LandedCostingSpecialTaxHeading" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransportAndLogisticsCosts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransportAndLogisticsCost" type="TransportAndLogisticsCost" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportAndLogisticsCost">
		<xs:sequence>
			<xs:element name="ChargeCode" type="xs:string"/>
			<xs:element name="ChargeDescription" type="xs:string"/>
			<xs:element name="ChargeGroup" type="xs:string"/>
			<xs:element name="DistributionLevel" type="xs:string"/>
			<xs:element name="DistributionBy" type="LandedCostDistributionCode"/>
			<xs:element name="DistributionAmount" type="xs:decimal"/>
			<xs:element name="Curr" type="CurrencyType"/>
			<xs:element name="ExRate" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StatusCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DocumentLink">
		<xs:sequence>
			<xs:element name="Date" type="xs:dateTime"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Link" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLinks">
		<xs:sequence>
			<xs:element name="DocumentLink" type="DocumentLink" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContainerProcess">
		<xs:sequence>
			<xs:element name="CartageAdvised" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CartageComplete" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CartageRef" type="xs:string" minOccurs="0"/>
			<xs:element name="DemurrageCharge" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DemurrageTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="SlotBookingRef" type="xs:string" minOccurs="0"/>
			<xs:element name="SlotDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLink">
		<xs:sequence>
			<xs:element name="InvoiceNumber" type="xs:string"/>
			<xs:element name="IssuerName" type="xs:string"/>
			<xs:element name="TransactionType" type="xs:string"/>
			<xs:element name="InvoiceTerm" type="xs:string"/>
			<xs:element name="InvoiceDate" type="xs:dateTime"/>
			<xs:element name="DueDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Currency" type="CurrencyType"/>
			<xs:element name="TotalAmount" type="xs:decimal"/>
			<xs:element name="OutstandingAmount" type="xs:decimal"/>
			<xs:element name="FullyPaidDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Link" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLinks">
		<xs:sequence>
			<xs:element name="InvoiceLink" type="InvoiceLink" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContainerLeg">
		<xs:sequence>
			<xs:element name="LegType" type="ContainerLegType"/>
			<xs:element name="GoodsRecBy" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ContainerLegType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AEX"/>
			<xs:enumeration value="AIM"/>
			<xs:enumeration value="FIW"/>
			<xs:enumeration value="DCD"/>
			<xs:enumeration value="DCP"/>
			<xs:enumeration value="DDL"/>
			<xs:enumeration value="DPU"/>
			<xs:enumeration value="FDY"/>
			<xs:enumeration value="FIY"/>
			<xs:enumeration value="FYD"/>
			<xs:enumeration value="FYE"/>
			<xs:enumeration value="FCE"/>
			<xs:enumeration value="FCL"/>
			<xs:enumeration value="FPE"/>
			<xs:enumeration value="FUI"/>
			<xs:enumeration value="FPD"/>
			<xs:enumeration value="FUD"/>
			<xs:enumeration value="FTL"/>
			<xs:enumeration value="FDC"/>
			<xs:enumeration value="FCD"/>
			<xs:enumeration value="FCI"/>
			<xs:enumeration value="FEC"/>
			<xs:enumeration value="LED"/>
			<xs:enumeration value="LDI"/>
			<xs:enumeration value="LTE"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="RTC"/>
			<xs:enumeration value="FEW"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
